@import url('/css/all.css');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


#tableTop {
  border-collapse: collapse;
  position: relative;
}

#tableTop::before {
  content: 'West';
  text-align: center;
  position: absolute;
  left: -40px;
  top: calc(50% - 10px);
}

#tableTop::after {
  content: 'East';
  text-align: center;
  position: absolute;
  right: -35px;
  top: calc(50% - 10px);
}

.tableRow {
  height: 50px;
}

.tableData {
  width: 50px;
  border: thin solid #000;
  text-align: center;
  position: relative;
}

.tablePlaceholder {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 0.8em;
  color: #999;
}

.actionHolder {
  text-align: center;
}

.actionButtons {
  margin: 5px;
  background: #97e6dc;
  border: none;
  padding: 5px;
  width: 50px;
}

.placeText {
  padding: 5px;
}

#robot.south {
  transform: rotate(180deg);
}

#robot.east {
  transform: rotate(90deg);
}

#robot.west {
  transform: rotate(-90deg);
}